<!DOCTYPE html>

<head>
	<link href="/static/workcss.css" rel="stylesheet">
</head>
<body>

<div class="bgimg-1">
  <div class="caption">
  <span class="border">WELCOME TO FORTUNE9</span>
      {% if user.is_authenticated %}
<h1> hello, {{user.first_name}}</h1>
    <a href ="{% url 'profile' %}">YOUR PROFILES</a>
<a href="{% url 'logout' %}"> LOGOUT</a>
{% else %}
<br>
 <a href ="{% url 'login' %}"> login here</a>
{% endif %}
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">A Usual Approach:</h3>
  <p>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
</div>

<div class="bgimg-2">
  <div class="caption">
  <span class="border" ><a href="{% url 'soccergo' %}" style="background-color:transparent;font-size:25px;color: #f7f7f7;">FOOT BALL</a></span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
  <p>You may feel like you are a huge fan of the sport and may also think that you are 'know-it-all' when it comes to soccer but we may never know until there are stakes at cost.</p>
  </div>
</div>


<div class="bgimg-3">
  <div class="caption">
  <span class="border" ><a href="{% url 'F1go' %}" style="background-color:transparent;font-size:25px;color: #f7f7f7;">F1 LEAGUE</a></span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
  <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-4">
  <div class="caption">
  <span class="border" ><a href="{% url 'horsego' %}" style="background-color:transparent;font-size:25px;color: #f7f7f7;">HORSE RACING</a></span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
  <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-5">
  <div class="caption">
  <span class="border" ><a href="OGgo.html" style="background-color:transparent;font-size:25px;color: #f7f7f7;">ONLINE LEAGUE</a></span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
  <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="drop">
</div>


</body></html>